<%= content_for :head do %>
<title>Edit Soul: <%= @soul.name %> - Reaper</title>

<style>
    .tab-pane {
        padding: 10px;
    }

    .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
        font-size: 100%;
        font-weight: bold;
    }
</style>

<script>
$(document).ready(function() {
    $("#count-words").click(function() {
        var s = $("#soul_description").val();
        s = s.replace(/(^\s*)|(\s*$)/gi,"");
        s = s.replace(/[ ]{2,}/gi," ");
        s = s.replace(/\n /,"\n");
        
        s = s.split(' ');
        if(s.length == 1) {
            if(s[0] == '') {
                s = [];
            }
        }

        $("#word-count").text(s.length);
        return false;
    });

    markdown_editor($("#soul_description"));
});
</script>


<% end %>


<% content_for :content do %>
<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        <div class='page-header'>
            <h1>Sacrifice <small>Edit Soul</small></h1>
        </div>

        <%= render 'form' %>
        
    </div>
</div>

<% end %>
